/* ============================
    TABLE OF CONTENTS

	1. MAP STYLES
	2. 

=============================== */



/* ===================
	1. MAP STYLES
===================== */

.map-regions {
	fill: #c4c4c4;
	stroke: #000000;
	stroke-width: 2px;
}

.map-regions:hover {
	fill: #2b2b2b;
}
